* {
    background-color: aquamarine;
    text-align: center;
}

ul li a {
    font-size: 2rem;
    padding: 1rem 0 1rem 0;
    text-decoration: none;
}

li {
    list-style: none;
}

img {
    max-height: 100px;
}